/*********************
TYPOGRAPHY
*********************/
/*	@font-face {
    	font-family: 'FontName';
    	src: url('../fonts/folder/font-name.eot');
    	src: url('../fonts/folder/font-name.eot?#iefix') format('embedded-opentype'),
             url('../fonts/folder/font-name.woff2') format('woff2'),
             url('../fonts/folder/font-name.woff') format('woff'),
             url('../fonts/folder/font-name.ttf') format('truetype'),
    	font-weight: [300,normal,500,bold];
    	font-style: [normal,italic];
	}
*/


// Light
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato/fonts/Lato-Light.eot');
    src: url('../fonts/lato/Lato/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato/fonts/Lato-Light.woff2') format('woff2'),
         url('../fonts/lato/Lato/fonts/Lato-Light.woff') format('woff'),
         url('../fonts/lato/Lato/fonts/Lato-Light.ttf') format('truetype');
	font-weight:  300;
	font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato/fonts/Lato-LightItalic.eot');
    src: url('../fonts/lato/Lato/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato/fonts/Lato-LightItalic.woff2') format('woff2'),
         url('../fonts/lato/Lato/fonts/Lato-LightItalic.woff') format('woff'),
         url('../fonts/lato/Lato/fonts/Lato-LightItalic.ttf') format('truetype');
	font-weight:  300;
	font-style: italic;
}


// Regular
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato/fonts/Lato-Regular.eot');
    src: url('../fonts/lato/Lato/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato/fonts/Lato-Regular.woff2') format('woff2'),
         url('../fonts/lato/Lato/fonts/Lato-Regular.woff') format('woff'),
         url('../fonts/lato/Lato/fonts/Lato-Regular.ttf') format('truetype');
	font-weight:  normal;
	font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato/fonts/Lato-Italic.eot');
    src: url('../fonts/lato/Lato/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato/fonts/Lato-Italic.woff2') format('woff2'),
         url('../fonts/lato/Lato/fonts/Lato-Italic.woff') format('woff'),
         url('../fonts/lato/Lato/fonts/Lato-Italic.ttf') format('truetype');
	font-weight:  normal;
	font-style: italic;
}


// Medium
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato/fonts/Lato-Medium.eot');
    src: url('../fonts/lato/Lato/fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato/fonts/Lato-Medium.woff2') format('woff2'),
         url('../fonts/lato/Lato/fonts/Lato-Medium.woff') format('woff'),
         url('../fonts/lato/Lato/fonts/Lato-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style:  normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato/fonts/Lato-MediumItalic.eot');
    src: url('../fonts/lato/Lato/fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato/fonts/Lato-MediumItalic.woff2') format('woff2'),
         url('../fonts/lato/Lato/fonts/Lato-MediumItalic.woff') format('woff'),
         url('../fonts/lato/Lato/fonts/Lato-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style:  italic;
}


// Bold
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato/fonts/Lato-Bold.eot');
    src: url('../fonts/lato/Lato/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato/fonts/Lato-Bold.woff2') format('woff2'),
         url('../fonts/lato/Lato/fonts/Lato-Bold.woff') format('woff'),
         url('../fonts/lato/Lato/fonts/Lato-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato/fonts/Lato-BoldItalic.eot');
    src: url('../fonts/lato/Lato/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato/fonts/Lato-BoldItalic.woff2') format('woff2'),
         url('../fonts/lato/Lato/fonts/Lato-BoldItalic.woff') format('woff'),
         url('../fonts/lato/Lato/fonts/Lato-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

